<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

	<body>

		<ui:composition template="./WEB-INF/template.xhtml">

			<ui:define name="content">
				<h:form id="players">
					<div class="form-group">
						<h:selectOneMenu id="situation" value="#{match.selectedSituation}" styleClass="form-control" >
							<f:selectItems value="#{match.availableSituations}"/>
						</h:selectOneMenu>
						<h:message for="situation" />
					</div>

					<div class="row">
						<div class="col-xs-12">
							<div class="form-group">
								<h:selectOneMenu id="numberOfPlayers" value="#{match.numberOfPlayers}" styleClass="form-control">
									<f:selectItems value="#{match.possibleNumberOfPlayers}"/>
									<f:ajax execute="numberOfPlayers operatorsFormData" render="operatorsFormData" />
								</h:selectOneMenu>
								<h:message for="numberOfPlayers" />
							</div>
						</div>
					</div>

					<h:panelGroup id="operatorsFormData">
						<c:forEach var="o" items="#{match.operatorsFormData}" varStatus="loop" end="#{match.numberOfPlayers - 1}">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<h3 class="panel-title">Operator #{loop.index + 1}</h3>
								</div>
								<div class="panel-body">
									<div class="form-group #{not empty facesContext.getMessageList('players:operatorName'.concat(loop.index)) ? 'has-error' : ''}">
										<ui:fragment rendered="#{not empty facesContext.getMessageList('players:operatorName'.concat(loop.index))}">
											<label class="control-label" for="operatorName${loop.index}"><h:message for="operatorName${loop.index}" /></label>
										</ui:fragment>
										<h:inputText id="operatorName${loop.index}" value="#{o.name}" styleClass="form-control" />
									</div>
								</div>
							</div>
						</c:forEach>
					</h:panelGroup>
					
					<h:commandButton value="Submit" action="#{match.start()}" styleClass="btn btn-primary">
						<o:validateBean validationGroups="test.FullValidationGroup" />
					</h:commandButton>
				</h:form>
			</ui:define>

		</ui:composition>

	</body>
</html>
