<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

	<body>

		<ui:composition template="./WEB-INF/template.xhtml">
			<ui:define name="content">
				<h:outputText value="#{match}" />
				<h:form>
					<h:commandButton value="Restart" action="#{match.restart()}" styleClass="btn btn-danger" />
				</h:form>
			</ui:define>
		</ui:composition>

	</body>
</html>