<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<h:outputStylesheet name="bootstrap.min.css" library="css" />
		<h:outputStylesheet name="source-sans-pro.css" library="css" />
		<title>WildFly Swarm JSF Test</title>
	</h:head>

	<h:body>
		<div class="container">
			<ui:insert name="content"></ui:insert>
		</div>
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<h:outputScript name="jquery.min.js" library="js" />
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<h:outputScript name="bootstrap.min.js" library="js" />
	</h:body>

</html>
